.container {
  display: flex;
  height: 100vh;

  justify-content: center;
  justify-items: center;
  align-items: center;
}

mat-card {
  display: flex;
  justify-content: center;
  justify-items: center;
  align-items: center;

  min-width: 200px;
  min-height: 200px;

  width: 100%;

  aspect-ratio: 1 / 1;

  max-height: 400px;
  max-width: 400px;

  margin: 2rem;
}

mat-card-content {
  width: 80%;
  height: 80%;
}

form {
  display: flex;
  flex-direction: column;

  height: 100%;

  row-gap: 1rem;

  text-align: center;
  justify-content: space-around;
}

form h2 {
  font-size: xxx-large;
}
